.compose {
  display: flex;
  align-items: center;
  background: #101b25;
  color: white;
  position: sticky;
  bottom: 0px;
  width: calc(100% - 2px);
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border-left: 1px solid #0000004f;
    background-color: #101b25;
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  padding: 5px 10px;
  background: #101b25;
  /* text-transform: capitalize; */
  margin: 0;
  color: #eaeaeb;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.compose-input::placeholder {
  font-size: 14px;
  color: #778d9f;
}

.compose .toolbar-button:hover {
  color: #778d9f;
}

.toolbar-popover {
  margin-left: 10px;
  width: 230px;
  color: #778d9f;
  background: #101b25;
  border-radius: 5px;
}

.toolbar-tool-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.toolbar-tool-button span {
  font-size: 16px;
  text-align: center;
  padding-right: 10px;
}

.toolbar-tool-icon {
  width: 20px;
  height: 20px;
  /* padding: 5px px; */
}
